:root {
  --Azul-1:	#001F42;	/*Azul-marinho-profundo, base forte*/
  --Azul-2:	#042C50;	/*Azul petróleo, variação suave*/
  --Dourado:	#D7A544;	/*Tom dourado vibrante e elegante*/
  --Cinza-cl:	#EDE9DD;	/*Cinza quase branco, tom neutro*/
  --Azul-3:	#001530;	/*Azul muito escuro, quase preto*/
}